* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  transition: filter 0.5s;
  &.high {
    filter: drop-shadow(0 0 10px gold);
  }
}
button {
  border: none;
  background: transparent;
  color: transparent;
  font-size: 1px;
  img {
    cursor: pointer;
  }
  &:hover {
    img {
      filter: drop-shadow(0 0 10px gold);
    }
  }
}

.scene {
  height: 1080px;
  width: 1920px;
  position: fixed;
  left: calc(50% - 1920px / 2);
  top: calc(50% - 1080px / 2);
  overflow: hidden;

  .obj {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .middle {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);
  }
  .front {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);

    .n1,
    .n2,
    .n3,
    .n4 {
      width: auto;
      height: auto;
      z-index: 1;
      animation-name: waveBoats;
      transform: translate(0, 0);
      animation-timing-function: ease-in-out;
      animation-fill-mode: backwards;
      animation-iteration-count: infinite;
    }
    .n1 {
      grid-row: span 7 / span 7;
      grid-column: span 7 / span 7;
      grid-column-start: 32;
      grid-row-start: 21;
      animation-duration: 5s;
    }
    .n2 {
      grid-row: span 7 / span 7;
      grid-column: span 6 / span 6;
      grid-column-start: 21;
      grid-row-start: 21;
      animation-duration: 5.5s;
    }
    .n3 {
      grid-row: span 10 / span 10;
      grid-column: span 7 / span 7;
      grid-column-start: 7;
      grid-row-start: 21;
      animation-duration: 7s;
    }
    .n4 {
      grid-row: span 4 / span 4;
      grid-column: span 3 / span 3;
      grid-column-start: 12;
      grid-row-start: 26;
      animation-duration: 6.5s;
      .n {
        transform: translate(0%, 10%);
      }
    }
    .h {
      grid-row: span 12 / span 12;
      grid-column: span 9 / span 9;
      grid-column-start: 38;
      grid-row-start: 4;
      transform: rotateZ(-30deg);
      z-index: 1;
      width: auto;
      height: auto;
      z-index: 1;
      .heli {
        animation-name: fly;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite;
      }
    }
    &.wave {
      animation-name: wave;
      animation-duration: 7s;
      transform: translate(0, 0);
      animation-timing-function: ease-in-out;
      animation-fill-mode: backwards;
      animation-iteration-count: infinite;
    }
    .p1 {
      grid-row: span 4 / span 16;
      grid-column: span 3 / span 8;
      grid-column-start: 19;
      grid-row-start: 27;
      z-index: 2;
    }
    .hair-woman {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
      grid-column-start: 21;
      grid-row-start: 29;
      z-index: 3;
      transform: translate(-10%, -70%);
      img {
        transform-origin: bottom left;
        animation-name: hair;
        animation-duration: 5s;
        transform: translate(0, 0);
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite;
      }
    }
    .p2 {
      grid-row: span 4 / span 10;
      grid-column: span 3 / span 10;
      grid-column-start: 27;
      grid-row-start: 28;
      transform: translate(-5%, -6%);
      z-index: 2;
    }
    .mouthMan {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
      grid-column-start: 28;
      grid-row-start: 29;
      z-index: 3;
      transform: translate(45%, 0%);
      img {
        width: inherit;
        height: inherit;
      }
    }
    .hair-man {
      grid-column: span 1 / span 1;
      grid-row: span 2 / span 1;
      grid-column-start: 28;
      grid-row-start: 27;
      transform: translate(0%, 35%);
      z-index: 3;
      img {
        transform-origin: bottom left;
        animation-name: hair;
        animation-duration: 5s;
        transform: translate(0, 0);
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite;
      }
    }
    .arm {
      grid-column: span 2 / span 2;
      grid-row: span 4 / span 5;
      grid-column-start: 29;
      grid-row-start: 26;
      z-index: 2;
      img {
        transform-origin: bottom left;
        transform: rotateZ(45deg);
        &.animate {
          animation-duration: 1.5s;
          animation-timing-function: ease-in-out;
          animation-fill-mode: backwards;
          &.in {
            animation-name: arm;
          }
          &.out {
            animation-name: arm;
            animation-direction: reverse;
          }
        }
      }
    }
    .p3 {
      grid-row: span 4 / span 19;
      grid-column: span 3 / span 3;
      grid-column-start: 32;
      grid-row-start: 20;
      z-index: 1;
    }
    .mouthWaiter {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
      grid-column-start: 33;
      grid-row-start: 23;
      z-index: 3;
      img {
        width: inherit;
        height: inherit;
      }
      .mouth1 {
        transform: translate(45%, -55%);
      }
      .mouth2 {
        transform: translate(25%, -50%);
      }
    }
    .tray {
      grid-row: span 3 / span 3;
      grid-column: span 2 / span 2;
      grid-column-start: 31;
      grid-row-start: 25;
      z-index: 3;
      transform: translate(10%, 0);
    }
    .navio {
      touch-action: none;
      pointer-events: none;
    }
  }
}

@keyframes wave {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 3px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes waveBoats {
  0% {
    transform: rotateZ(5deg) translate(5px, 0);
  }
  50% {
    transform: rotateZ(-5deg) translate(-5px, 5px);
  }
  100% {
    transform: rotateZ(5deg) translate(5px, 0);
  }
}

@keyframes fly {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes hair {
  0% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
